@import "./resources/sass/mixins";

.form {
    width: 90vw;
    min-height: 80vh;
    border-radius: 20px;
    border: 1px solid #91d5ff;
    display: flex;
    flex-direction: column;
    padding: 48px 64px;
    margin: 10vh 0;
    .title {
        width: 100%;
        text-align: center;
        margin-bottom: 24px;
    }
    .inputs {
        flex-basis: 40%;
        display: flex;
        flex-shrink: 0;
        flex-direction: column;
    }

    button {
        margin-top: 24px;
    }

    .graphs {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        .fuzzyfication {
            display: grid;
            width: 100%;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            text-align: center;
        }

        .activation {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .basegraph {
                min-height: 200px;
                flex-shrink: 0;
                width: 100%;
            }
        }
        .accumulation {
            width: 100%;
        }
        .accumulated {
            width: 100%;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr;
        }
        .activated {
            display: grid;
            width: 100%;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;

            p {
                @include text-small;
                text-align: center;
                padding: 0 8px;
            }
        }
    }
}
