@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Regular.woff') format('woff'),
  url('/assets/fonts/Roboto-Regular.ttf') format('truetype'),
  url('/assets/fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Medium.woff') format('woff'),
  url('/assets/fonts/Roboto-Medium.ttf') format('truetype'),
  url('/assets/fonts/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Bold.woff') format('woff'),
  url('/assets/fonts/Roboto-Bold.ttf') format('truetype'),
  url('/assets/fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Light.woff') format('woff'),
  url('/assets/fonts/Roboto-Light.ttf') format('truetype'),
  url('/assets/fonts/Roboto-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
