@import "mixins";
.sprite, .LZ {
    z-index: -999;
    position: absolute;
    top: -99999px;
    left: -99999px;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
  }

    background: #fff;
}

* {
  -webkit-appearance: none;
  outline: none;
  position: relative;
  box-sizing: border-box;
  p {
    margin: 0;
  }
  img, svg {
    display: block;
  }
  textarea {
    resize: none;
  }
  a {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    img {
      border: none;
    }
  }
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}
.image {
  img {
    width: 100%;
    height: 100%;
  }
}
.site-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
