@mixin Roboto($font-size, $line-height, $letter-spacing, $font-weight, $color){
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;

  color: $color;
}

@mixin title(){
  @include Roboto(36px, 42px, 1px, 600, #fff);
}
@mixin text(){
  @include Roboto(16px, normal, normal, normal, var(--accent-color));
}
@mixin task-title(){
  @include Roboto(16px, normal, 0.5px, 600, var(--accent-color));
}
@mixin text-small(){
  @include Roboto(12px, normal, normal, normal, rgba(72, 72, 72, 0.7));
}
@mixin shadow (){
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  &:hover {
    box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.25);
  }
}
@mixin positionCC () {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin center-content () {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin viewport-height () {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow-y: hidden;
}

@mixin hide-scrollbar () {
    scrollbar-width: none;
    scrollbar-height: none;
    scrollbar-color: transparent transparent;


    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    &::-webkit-scrollbar-track {
        background: transparent
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 0;
        border: none;
    }
}
