@import "./resources/sass/mixins";

.antd-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    span {
        @include text-small;
        display: block;
        margin-right: 16px;
        min-width: 50%;
    }
    .ant-slider {
        flex-shrink: 0;
        flex-grow: 1;
    }
}
